<div>
  <span><%= check_box_tag "settings[start_date_as_datetime]", true, Issue.start_date_format_is_datetime?, :id => "setting_start_date_as_datetime" %></span>
  <span><%= l(:start_date_as_datetime) %></span>
</div>

<div>
  <span><%= check_box_tag "settings[due_date_as_datetime]", true, Issue.due_date_format_is_datetime?, :id => "setting_due_date_as_datetime" %></span>
  <span><%= l(:due_date_as_datetime) %></span>
</div>
