input.ui-datepicker-trigger {
    color: #333;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 16px;
    line-height: 24px;
    padding: 0 3px;
}

@media screen and (max-width: 899px) {
    input#issue_due_date, input#issue_start_date {
        width: 114px;
    }

    input.ui-datepicker-trigger {
        width: auto;
    }
}
